<html>
  <head>
    <title> user | create </title>
  </head>
  <body>
    <form method="POST" action="/user_game">

      <label for="username">username</label>
      <br />
      <input type="text" name="username" />
      <br />

      <label for="password">password</label>
      <br />
      <input type="text" name="password">
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
