<html>
  <head>
    <title> user | all </title>
  </head>
  <body>
    <% articles.forEach(i => { %>
    <div>
      <h3><%= i.username %></h3>
      <h3><%= i.password %></h3>
    </div>
    <% }) %>
  </body>
</html>